/* Responsive adjustments */
@media (max-width: 767px) {
  .footer-bottom {
    text-align: center;
  }

  .footer-bottom .col-md-6 {
    text-align: center !important;
  }
  .promo-section {
    padding: 30px 0;
  }

  .promo-content h2 {
    font-size: 1.5rem;
  }

  .hexagon-flag {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

/* Responsive Adjustments */
@media (max-width: 991.98px) {
  .promo-content {
    max-width: auto;
  }
  .promo-card {
    padding: 30px;
  }

  .promo-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .promo-logo {
    margin-top: 20px;
  }
}
